h1,h2{
    text-align: center;
}


.box{
    margin: 5px;
    padding: 5px;

    flex-basis: 100%;
    flex-grow: 1;

    background: rgba(219, 112, 147, 0.5);
    border-left: 5px solid violet;
    border-bottom: 5px solid violet;
    border-radius: 15px;
}
.head{
    display: flex;

    margin: 5px;
    padding: 10px;

    border-left: 10px solid blueviolet;
    border-bottom: 10px solid blueviolet;
    border-radius: 15px;
}

img{
    width: 100%;
}

.baseText{
    font-size: 20px;
    color: rgba(142, 30, 208, 0.7);
}

.rainbow:hover{
    color: rgba(229, 15, 177, 0.85);
    background: lavender;
}